@import '~antd/dist/antd.css';
@import 'react-virtualized/styles.css';
.App {
    text-align: center;
    background-color: rgba(150, 150, 150, 1);
}

.App-link {
    color: #61dafb;
}

.system-name {
    font-style: bold;
    color: white;
    float: left;
    font-size: 30px;
}
.header-name{
    font-style: bold;
    color: white;
    font-size: 20px;
    text-align: right;
}
.header-content{
    font-style: bold;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.app-header .ant-row{
    line-height: 38px;
}
.predictionIcon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 5px;
}
.proba-selected{
    border: #ff4e78 3px solid;
    color: #ff4e78;
}
#Filter {
    border: 2px solid black;
}

#Filter .panel-header {
    background-color: #4682B4;
}

.ant-drawer-header {
    background-color: #e8f0fa;
    height: 50px;
}

.ant-drawer-title {
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.patient-selector-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 20px;
}
.complication-title{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 20px;
}


.ant-select-item-option-content {
    display: flex;
    justify-content: center;
    align-items: center;
}