@import '~antd/dist/antd.css';
@import 'react-virtualized/styles.css';
.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.system-name {
    font-style: bold;
    color: white;
    float: left;
    font-size: 30px;
}