@import '~antd/dist/antd.css';
@import 'react-virtualized/styles.css';
.App {
    text-align: center;
    background-color: rgba(150, 150, 150, 1);
}

.App-link {
    color: #61dafb;
}

.system-name {
    font-style: bold;
    color: white;
    float: left;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.view-title-text {
    position: absolute;
    left: 10px;
    top: 0px;
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0px;
}

.widget-text {
    margin-left: 10px;
    margin-right: 5px;
    color: #7fa5ec;
}

.header-name {
    font-style: bold;
    color: white;
    font-size: 20px;
    text-align: right;
}

.header-content {
    font-style: bold;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.app-header {
    line-height: 38px;
}

.prediction-icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: #001529 2px solid;
}

.prediction-icon.inactive {
    /*background-color: #ccc;*/
    border: #7fa5ec 3px solid;
    /*color: #7fa5ec;*/
}

.prediction-icon.active {
    /*background-color: #7fa5ec;*/
    border: #e8b27c 3px solid;
    /*color: #e8b27c;*/
}

.prediction-icon.selected.inactive {
    /*border: #ff4e78 2px solid;*/
    /* color: #ff4e78; */
    background-color: #7fa5ec;
}

.prediction-icon.selected.active {
    /*border: #ff4e78 2px solid;*/
    /* color: #ff4e78; */
    background-color: #e8b27c;
}

#Filter {
    border: 2px solid black;
}

#Filter .panel-header {
    background-color: #4682B4;
}

.ant-drawer-header {
    background-color: #e8f0fa;
    height: 50px;
}

.ant-drawer-title {
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.patient-selector-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 20px;
}

.complication-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 20px;
}

.ant-select-item-option-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-link-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    pointer-events: none;
}

.between-view-link {
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
    opacity: 0.6;
}

.between-view-dot {
    /* stroke: #fff; */
    /* stroke-width: 1px; */
    opacity: 0.4;
}