
#FilterView{
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
}

.ant-checkbox + span{
	font-size:14px;
}
.ant-row{
	text-align: left;
}
.filterName{
	/*text-align: right;*/
	font-weight: bold;
	font-size: 14px;
}
.complicationName{
	/*text-align: right;*/
}

.rightValue{
	margin-left: 5px;
}
.firstRow{
	width: 100%;
	height: 25px;
	border: 1px solid black;
}
.dropDownList{
	width: 100%;
	height: 130px;
	border: 1px solid black;
	overflow: scroll;
}
.dropDownImg{
	float: right;
	margin-top: 2px;
	margin-right: 8px;
	/*width: 100%;*/
}

#FilterView .ant-divider-horizontal{
	margin:10px 0;
}
