.histogram {
    svg {
        margin-bottom: 0;
        cursor: crosshair;
        vertical-align: top;
        rect {
            /* fill: rgb(109, 160, 202); */
            opacity: 0.7;
        }
        .base rect {
            /* fill: rgb(109, 160, 202); */
            opacity: 0.2;
        }
        rect.shade {
            fill: #aaa;
            opacity: 0;
            &:hover {
                opacity: 0.4;
            }
        }
        rect.shade.show {
            opacity: 0.4;
        }
        rect.selector-sheet {
            // fill: black;
            opacity: 0;
        }
        rect.selector {
            fill: black;
            opacity: 0.3;
            pointer-events: none;
        }
        .stop-left {
            stop-color: #3f51b5;
            /* Indigo */
        }
        .stop-right {
            stop-color: #009688;
            /* Teal */
        }
        rect.color-band {
            height: 5px;
            // fill: url(#gini-gradient);
        }
        .x-axis-base {
            stroke: #aaa;
            stroke-width: 1px;
            font-size: 8px;
            opacity: 80%;
        }
        line.reference-line {
            stroke-width: 2px;
            stroke: red;
        }
        path.area {
            opacity: 0.5;
        }
    }
    .info {
        line-height: 18px;
        height: 18px;
        font-size: 12px;
        text-align: left;
        margin-left: 6px;
    }
}