.line {
    stroke: #3C88E1;
    fill: none;
    opacity: 50%;
}

.point {
    fill: #3c89e1a8;
    /* stroke-width: 1px;
    stroke: #fff; */
    /* opacity: 70%; */
}

/*.ts-card:nth-child(even){
    background-color: #f9f9f9
}
.ts-card{
    background-color: #f9f9f9

}*/

.reference-line {
    stroke-width: 1px;
    stroke: #3C88E1;
}

.reference-area {
    fill: #3C88E1;
    opacity: 8%;
}

.line-seg {
    stroke: #6695ca;
    /* stroke: #aaa; */
    stroke-width: 2px;
    opacity: 60%;
}

.highlight.line-seg {
    /* stroke: #e13caa; */
    stroke: #e13c60;
    /*stroke-width: 2px;*/

}

.highlight.point {
    fill: #fff;
    stroke: #e13c60a1;;

}

.dashed.line-seg{
    stroke: #fff;
   /*stroke-dasharray: 5,5; */
}