.line {
    stroke: #3C88E1;
    fill: none;
    opacity: 50%;
}

.point {
    fill: #3c89e1a8;
    /* stroke-width: 1px;
    stroke: #fff; */
    /* opacity: 70%; */
}

.point-anno-arrow {
    stroke-width: 1px;
    /* stroke: #3c89e1a8; */
    stroke: #e13c60;
}

.segment-box {
    fill: none;
    stroke-width: 2px;
    /* stroke: #3c89e1a8; */
    /* stroke: #ee7545a8; */
    fill: #ee7545a8;
    opacity: 50%;
}


/*.ts-card:nth-child(even){
    background-color: #f9f9f9
}
.ts-card{
    background-color: #f9f9f9

}*/

.reference-line {
    stroke-width: 1px;
    stroke: #3C88E1;
}

.reference-area {
    fill: #3C88E1;
    opacity: 8%;
}

.line-seg {
    stroke: #6695ca;
    /* stroke: #aaa; */
    stroke-width: 3px;
    /* opacity: 60%; */
    marker-end: "url(#arrowhead)";
}

.highlight.line-seg {
    /* stroke: #e13caa; */
    stroke: #e13c60;
    /* stroke: #3c89e1a8; */
    /*stroke-width: 2px;*/
}

.highlight.point {
    fill: #fff;
    stroke: #e13c60;
    stroke-width: 2px;
    /* stroke: #3c89e1a8; */
    ;
}

.dashed.line-seg {
    stroke: #fff;
    /*stroke-dasharray: 5,5; */
}

.ts-svg {
    /* margin-left: 10px; */
}