.axis-line {
    stroke: #eee;
    stroke-width: 1px;
}

.meta-event-axis {
    stroke: #eee;
    stroke-width: 2px;
}

.bubble {
    opacity: 50%;
    stroke-width: 1px;
}

.left-time-annotation,
.right-time-annotation {
    font-size: 10px;
    fill: #777;
    font-weight: bolder;
    text-anchor: middle;
}

.handle {
    fill: rgb(119, 119, 119)
}

.subline {
    stroke: #aaa;
    stroke-width: 1px;
    transition: all 0.5s ease;
}

.timeline-cell {
    stroke-width: 1px;
    stroke: #eee;
}

.timeline-cell-inner {
    fill: rgb(145, 145, 145);
}