.feature-view {
    height: 100%;
    width: 100%;
    button.proba-item {
        border: #aaa;
        width: calc(100% - 20px);
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 30px;
        .proba-bar {
            position: absolute;
            top: 0px;
            left: 5px;
            background-color: rgb(78, 121, 167);
            opacity: 50%;
            transition: width 0.5s;
        }
        .proba-target-name {
            position: absolute;
            top: 0;
            right: 10px;
            font-style: italic;
            color: #777;
        }
        .proba-value {
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
    button.proba-selected {
        border: 2px solid rgb(78, 121, 167);
        padding-left: 0px;
    }
    .feature-header {
        height: 30px;
        margin-right: 30px;
        margin-left: 5px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        .feature-header-cell {
            font-size: 14px;
            font-weight: bolder;
        }
    }
    .feature-block {
        height: 30px;
        margin-right: 30px;
        margin-left: 5px;
        width: calc(100% - 35px);
        transition: all 0.5s ease;
        border: 1px solid rgba(220, 225, 230, 0.7);
        // border-radius: 5px;
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        .feature-block-inner {
            display: flex;
            justify-content: space-between;
            height: 100%;
            border-bottom: 1px solid rgba(220, 225, 230, 0.5);
            ;
            .feature-block-cell {
                margin-top: 5px;
                margin-bottom: 5px;
                // max-height: 20px;
                // height: calc(100% - 5px);
                overflow: hidden;
                .feature-block-cell-text {
                    font-size: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .feature-value {
                background-color: #eee;
                // margin-left: 10px;
                // margin-right: 10px;
                margin-top: 3px;
                margin-bottom: 3px;
                font-weight: bold;
                // overflow: visible;
                border: 1px solid rgba(220, 225, 230, 0.7);
                transition: all 0.5s ease;
            }
            .feature-contribution {
                // margin-left: 10px;s
                display: flex;
                .contribution-svg {
                    width: 100%;
                    height: 100%;
                    rect.neg-feature {
                        fill: #3C88E1;
                        stroke: #3C88E1;
                        stroke-width: 1px;
                        opacity: 80%;
                    }
                    rect.pos-feature {
                        fill: #FF0155;
                        // fill: rgb(242, 142, 44);
                        stroke: #FF0155;
                        // fill: rgb(242, 142, 44);
                        stroke-width: 1px;
                        opacity: 80%;
                    }
                    rect.a-sub-b {
                        // fill: #fff;
                        mask: url(#mask-stripe)
                    }
                    rect.b-sub-a {
                        fill: #fff;
                    }
                }
            }
        }
        .feature-block-hist {
            margin-top: 10px;
        }
    }
    .feature-block:hover {
        border: 1px solid #777;
    }
    .feature-top-block {
        border: 1px solid rgba(24, 144, 255, 0.5);
    }
    // .dense {
    //     // height: 6px;
    //     margin-top: 1px;
    //     border: 1px solid #fff;
    //     .feature-block-cell {
    //         margin-top: 0px !important;
    //         margin-bottom: 0px !important;
    //         height: 100%;
    //         margin-top: 0px;
    //         margin-bottom: 0px;
    //         .neg-feature,
    //         .pos-feature {
    //             // height: calc(100%-2px);
    //             height: 100%;
    //             margin-top: 0px !important;
    //             margin-bottom: 0px !important;
    //         }
    //     }
    // }
}

.feature-block {
    border-right-width: 4px;
}

.feature-row {
    .feature-button-linechart {
        position: absolute;
        right: 0px;
        top: -12px;
        display: none;
    }
    .feature-button-table {
        position: absolute;
        right: 0px;
        top: 18px;
        display: none;
    }
}

.feature-row:hover {
    .feature-button-linechart {
        position: absolute;
        right: 0px;
        display: block;
    }
    .feature-button-table {
        position: absolute;
        right: 0px;
        display: block;
    }
}

.feature-block-annote {
    position: absolute;
    right: 30px;
    width: 0px;
    top: 2px;
    background-color: #bbb;
    // opacity: 80%;
    display: inline-block;
    transition: all 0.3s;
}

.feature-block-annote.focused {
    right: 22px;
    width: 8px;
}

.right-button {
    position: relative;
    margin-top: 10px;
    color: #777;
    float: left;
}

.category-legend-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .legend-block {
        display: flex;
        justify-content: center;
        align-items: center;
        .legend-rect {
            width: 10px;
            height: 10px;
            // margin-top: 5px;
        }
        .legend-name {
            font-size: 10px;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}

.abnormality-legend-container {
    width: 100%;
    display: flex;
    .legend-anno {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .legend-color-bar {
        width: 60%;
        max-width: calc(100% - 40px);
    }
}

.feature-block-hist {
    // position: relative;
    // right: 0px;
}

.reference-value {
    // display: flex;
    // flex-direction: column;
    margin-top: 15px;
    // opacity: 80%;
    .reference-value-value {
        font-size: 10px;
    }
}