.panel-wrapper {
    /* position: absolute; */
    /* left: 0; */
    /* border: 1px solid #eee; */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    display: block;
}

.panel-header {
    height: 30px;
    /* background-color: #e8f0fa; */
    background-color: #97c4d0;
    cursor: move;
    line-height: 30px;
}

.panel-body {
    height: calc(100% - 50px);
    margin: 4px;
    overflow: scroll;
    margin-top: 10px;
    /* background-color: #e9e9e9; */
}

span.panel-title {
    float: left;
    margin-left: 10px;
    font-weight: bold;
    width: 100%;
}

.view-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.view-title-text {
    position: absolute;
    color: #fff;
    left: 10px;
    top: 0px;
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0px;
}

.widget-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-text {
    margin-left: 10px;
    margin-right: 5px;
    /* color: #7fa5ec; */
    color: #fff;
}