.timeline-view-content {
    height: calc(100% - 70px);
    overflow: scroll;
}

.timeline {
    /* height: 80px; */
    width: calc(100% - 20px);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    /* border: 1px solid rgba(220, 225, 230, 0.7); */
    overflow: scroll;
}

.timeline-title {
    /* height: 100%; */
    width: 60px;
    float: left;
    font-size: 10px;
}

.timeline-content {
    height: 100%;
    width: calc(100% - 60px);
    float: left;
    /* position: relative; */
}

.timeline-svg {
    height: 100%;
    width: 100%;
}

.fix-on-bottom {
    position: absolute;
}