.area-chart {
    svg {
        margin-bottom: 0;
        cursor: crosshair;
        vertical-align: top;
        .x-axis-base {
            // stroke: #aaa;
            stroke-width: 1px;
            font-size: 8px;
            opacity: 80%;
        }
        line.reference-line {
            stroke-width: 2px;
            stroke: red;
        }
        text.reference-line-text {
            font-size: 10px;
            fill: red;
            stroke-width: 1px;
        }
        line.reference-line-whatif {
            stroke-width: 2px;
            stroke: rgb(131, 218, 230);
        }
        text.reference-text {
            font-size: 10px;
            stroke: black;
            display: none;
        }
        path.area {
            opacity: 0.5;
        }
    }
}