.axis-line {
    stroke: #eee;
    stroke-width: 1px;
}

.meta-event-axis {
    stroke: #eee;
    stroke-width: 2px;
}

.handle {
    fill: rgb(119, 119, 119)
}

.subline {
    stroke: #aaa;
    stroke-width: 1px;
    transition: all 0.5s ease;
}

.timeline-cell {
    stroke-width: 1px;
    stroke: #eee;
}

.timeline-cell-inner {
    fill: rgb(145, 145, 145);
    stroke: none;
}

.time-tick-text {
    font-size: 12px;
    fill: rgb(71, 71, 71);
    /* stroke: #aaa; */
}

.time-tick {
    stroke: rgb(71, 71, 71);
}