.feature-view {
    height: 100%;
    width: 100%;
    button.proba-item {
        border: #aaa;
        width: calc(100% - 20px);
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 30px;
        .proba-bar {
            position: absolute;
            top: 0px;
            left: 5px;
            background-color: rgb(78, 121, 167);
            opacity: 50%;
            transition: width 0.5s;
        }
        .proba-target-name {
            position: absolute;
            top: 0;
            right: 10px;
            font-style: italic;
            color: #777;
        }
        .proba-value {
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
    button.proba-selected {
        border: 2px solid rgb(78, 121, 167);
        padding-left: 0px;
    }
    .feature-header {
        height: 30px;
        margin-right: 30px;
        margin-left: 5px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .feature-header-cell {
            font-size: 14px;
            font-weight: bolder;
        }
    }
    .feature-block {
        height: 30px;
        margin-right: 30px;
        margin-left: 5px;
        width: calc(100% - 35px);
        transition: all 0.5s ease;
        border: 2px solid rgba(220, 225, 230, 0.7);
        border-radius: 2px;
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        .feature-block-inner {
            display: flex;
            justify-content: space-between;
            height: 100%;
            border-bottom: 1px solid rgba(220, 225, 230, 0.5);
            background-color: #fff;
            .feature-block-cell {
                margin-top: 4px;
                margin-bottom: 5px;
                overflow: hidden;
                .feature-block-cell-text {
                    font-size: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .feature-name {
                .feature-block-cell-text {
                    float: left;
                    margin-left: 10px;
                }
            }
            .feature-value {
                border-radius: 2px;
                margin-top: 3px;
                margin-bottom: 3px;
                font-weight: bold;
                border: 1px solid rgba(220, 225, 230, 0.7);
                transition: all 0.5s ease;
            }
            .feature-contribution {
                display: flex;
                flex-direction: column;
                margin-right: 2px;
                .contribution-svg {
                    width: 100%;
                    height: 100%;
                    rect.neg-feature {
                        fill: #3C88E1;
                        stroke: #3C88E1;
                        stroke-width: 1px;
                        opacity: 80%;
                        rx: 2px;
                        transition: all 0.5s;
                    }
                    rect.pos-feature {
                        fill: #FF0155;
                        stroke: #FF0155;
                        stroke-width: 1px;
                        rx: 2px;
                        opacity: 80%;
                        transition: all 0.5s;
                    }
                    rect.a-sub-b {
                        mask: url(#mask-stripe)
                    }
                    rect.b-sub-a {
                        fill: #fff;
                    }
                }
                .what-if-content {
                    font-size: 10px;
                }
                .what-if-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    .label-circle {
                        width: 60px;
                        height: 20px;
                        border-radius: 2px;
                        margin-right: 5px;
                        margin-left: 5px;
                        background-color: #aaa;
                        font-size: 8px;
                        color: #fff;
                    }
                }
            }
        }
        .feature-block-hist {
            margin-top: 10px;
        }
    }
    .feature-block:hover {
        border: 2px solid rgba(24, 144, 255, 0.5);
    }
}

.feature-block {
    border-right-width: 4px;
}

.feature-row {
    .feature-button-linechart {
        position: absolute;
        right: 0px;
        top: -12px;
        display: none;
    }
    .feature-button-table {
        position: absolute;
        right: 0px;
        top: 18px;
        display: none;
    }
    .feature-button-what-if {
        position: absolute;
        right: 0px;
        top: 48px;
        display: none;
    }
}

.feature-row:hover {
    .feature-button-linechart {
        position: absolute;
        right: 0px;
        display: block;
    }
    .feature-button-table {
        position: absolute;
        right: 0px;
        display: block;
    }
    .feature-button-what-if {
        position: absolute;
        right: 0px;
        display: block;
    }
}

.feature-block-annote {
    position: absolute;
    right: 30px;
    width: 0px;
    top: 2px;
    background-color: #bbb;
    display: inline-block;
    transition: all 0.3s;
}

.feature-block-annote.focused {
    right: 25px;
    width: 8px;
}

.right-button {
    position: relative;
    margin-top: 10px;
    color: #777;
    float: left;
}

.abnormality-legend-container {
    width: 100%;
    display: flex;
    .legend-anno {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .legend-color-bar {
        width: 60%;
        max-width: calc(100% - 40px);
    }
}

.reference-value {
    margin-top: 15px;
    .reference-value-value {
        font-size: 10px;
    }
}

.feature-view-search {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
}

.ant-popover-inner-content {
    padding: 5px;
}

.feature-block.expanded {
    background-color: #aaa;
}

.contribution-background {
    fill: rgb(240, 240, 240);
    opacity: 50%;
    // stroke: #aaa;
}

.ant-btn-icon-only {
    width: 20px;
}

.overflow-notation-right {
    position: absolute;
    right: 35px;
    top: 9px;
    color: #a00035;
}

.overflow-notation-left {
    position: absolute;
    right: 170px;
    top: 9px;
    color: #1070dd;
}