.ant-col .details-title {
    height: 100%;
    display: flex;
    float: right;
    align-items: center;
    line-height: 12px;
    text-align: right;
    font-size: 10px;
}

.ant-col .value {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d3d;
    font-weight: bold;
    text-align: center;
}

.meta-view {
    .meta-item {
        border-left: 1px solid #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px 10px;
        .ant-col {
            margin-top: 1px;
            margin-bottom: 1px;
            .pin {
                display: none;
            }
        }
    }
    .meta-item:hover {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .pin {
            display: block;
        }
    }
}

.Demographic {
    background: rgba(217, 217, 217, 0.5);
    /*background: rgba(179,205,227, 0.3);*/
    /*background: #888f98;*/
    // border-radius: 5px;
}

.Admission {
    background: rgba(189, 189, 189, 0.5);
    /*background: #bdc3c7;*/
    /*background: rgba(251,180,174, 0.3);*/
    // border-radius: 5px;
}

.Surgery {
    background: rgba(150, 150, 150, 0.5);
    /*background: rgba(204,235,197, 0.3); */
    /*background: #5e6875;*/
    // border-radius: 5px;
}