.meta-info {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 0px;
}

.ant-card-small>.ant-card-body {
    padding: 1px;
    margin-top: 5px;
    /*text-align: left;*/
    /*margin-left: 100px;*/
}

.ant-card-small .details-title {
    display: block;
    width: 70px;
    float: left;
    text-align: right;
    margin-left: 50px;
}

.ant-card-small .details-value {
    display: block;
    margin-left: 10px;
    /*width: 70px;*/
    /*float: left;*/
    text-align: center;
    /*border: 1px solid black*/
}

.ant-col-10 {
    text-align: right;
}

.details-title {
    /*font-weight: bold;*/
    font-size: 10px;
}

.metaInfoTitle {
    font-weight: bold;
    font-size: 10px;
}

.ant-col-11{
    margin-left: 10px;
	border-radius: 5px;
	text-align: center;
    border-radius: 5px;

}
#Demographic .ant-col-11 {
    background: rgba(179,205,227, 0.3);
    border: 1px solid  #3CB371;
}
#Admission .ant-col-11 {
    background: rgba(251,180,174, 0.3);
    border: 1px solid #FFB6C1;
}
#Surgery .ant-col-11 {
    background: rgba(204,235,197, 0.3);
    border: 1px solid #00CED1;
}

.ant-col .details-title{
	height: 100%;
    display: flex;
	float: right;
	align-items: center;
	line-height: 12px;
}



.ant-col .value {
    height: 100%;
    display: flex;
	justify-content: center; 
	align-items: center;
	color: #3d3d3d;
	font-weight: bold;
}

.ant-col {
    margin-top: 5px;
}